footer{
    background-color: $colorBackground;
    color: $colorText;
    padding: 40px 0;

    .container{
        >div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            width: 100%;

            ul{
                list-style-type: none;
                
                a{
                    color: $colorText;
                }
            }

            div{
                font-size: 14px;
                width: auto;

                span, li, a{
                    display: block;
                    margin-bottom: 10px;
                    color: $colorText;
                }
                svg{
                    width: 35px;
                    color: $colorText;
                    transition: color 300ms;

                    &:hover{
                        color: $colorPrimary;
                    }
                }

                .social-links{
                    a{
                        display: inline-block;
                        margin: 0;
                    }
                }

                .natf-link{
                    span{
                        width: 150px;
                        height: 150px;
                        background-size: cover;
                    }
                }

                @media only screen and (max-width: $break2){
                    display: none;

                    &:first-of-type{
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}