footer{
    background-color: $colorBackground;
    color: $colorText;

    .container{
        >div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            ul{
                list-style-type: none;
                
                a{
                    color: $colorText;
                }
            }

            div{
                span, li{
                    display: block;
                    margin-bottom: 10px;
                }
                svg{
                    width: 35px;
                    color: $colorText;
                    transition: color 300ms;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    
        span, li{
            display: block;
            font-size: 14px;
        }
    }
}