header{
    padding-top: 0;
    transition: margin-top 300ms;

    .hero-image{
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        position: relative;

        .container{
            position: absolute;
            top: 40%;
            max-width: none;
        }
    }  

    @media only screen and (max-width: $break2){
        padding-bottom: 0;

        .hero-image{
            height: 350px;
            margin-bottom: 0;
        }
    }
}