header{
    .hero-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
    }

    .page-title-container{
        display: block;
        margin: 0 auto;
        color: #1E1E1E;
    
        h1{
            font-size: 50px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    
        >div{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}