header{
    .hero-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
    }

    .page-title-container{
        display: block;
        margin: 0 auto;
        color: $colorBackground;
        text-align: center;
    
        h1{
            font-size: 65px;
            font-weight: normal;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: $fontHeading;
        }
    }
}