nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #1E1E1E;
    color: $colorSecondary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 40px;
    transition: padding 300ms;

    .menu{   
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .menu-item{
            display: inline-block;
            width: 110px;
            text-align: center;
            line-height: 50px;

            a{
                border-bottom: 1px solid transparent;
                transition: border-bottom 300ms;

                &:hover{
                    border-bottom: 1px solid $colorSecondary;
                }
            }
        }

        .current-menu-item{
            a{
                border-bottom: 1px solid $colorSecondary;
            }
        }
    }

    .home-logo{
        font-size: 26px;
        font-weight: bold;

        img{
            width: 250px;
        }
    }

    a{
        text-decoration: none;
        color: $colorSecondary;
        font-size: 18px;
    }
}