nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background-color: $colorBackground;
    color: $colorText;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 70px;
    transition: padding 300ms;
    z-index: 999;

    .mobile-menu-button{
        display: none;
        padding: 10px;
        width: 45px;
        z-index: 999;

        svg{
            width: 100%;
            height: 100%;
        }
    }

    >div:not(.mobile-menu):not(.mobile-menu-button){
        text-align: right;
        padding: 10px 0;

        >a{
            font-size: 16px;
            color: $colorText;
        }

        @media only screen and (max-width: $break2){
            width: 0;
            display: none;
        }
    }

    .menu{   
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menu-item{
            padding: 0 10px;
            display: inline-block;

            a{
                text-decoration: none;
                color: $colorText;
                font-size: 20px;
                border-bottom: 1px solid transparent;
                transition: all 300ms;

                &:hover{
                    border-bottom: 1px solid $colorPrimary;
                    color: $colorPrimary;
                }
            }
        }

        .current-menu-item{
            a{
                border-bottom: 1px solid $colorPrimary;
                color: $colorPrimary;
            }
        }
    }

    .standard-menu{
        ul{
            .menu-item{
                text-align: center;

                &:first-of-type{
                    padding-left: 0;
                }
    
                &:last-of-type{
                    padding-right: 0;
                }
            }
        }
    }

    .home-logo{
        font-size: 26px;
        font-weight: bold;

        img{
            width: 250px;
        }

        @media only screen and (max-width: $break2){
            margin: 0 auto;
        }
    }

    .mobile-menu{
        overflow: hidden;
        max-width: 0;
        position: fixed;
        top: 75px;
        bottom: 0;
        right: 0;
        transition: all 500ms;
        padding-top: 20px;
        background-color: $colorBackground;

        &.expanded{
            max-width: 100%;
        }

        ul{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            li{
                margin-bottom: 10px;
            }
        }
    }

    @media only screen and (max-width: $break2){
        padding-left: 0;
        padding-right: 0;

        .mobile-menu-button{
            display: block;
        }
    }
}